body {
  background: #111111;
  color: #cccccc;
}

h1, h2, h3 {
  color: #60dafb;
}

a {
  color: #60dafb;
}

input {
  background: #666666;
  color: #fb7760;
  border: 1px solid #60dafb;
  border-radius: 2px;
  margin: 5px 0;
  padding: 5px;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
